article.crud {
  div.loading {
    i {
      .icon-loading;
    }
  }
  table {
    &:extend(.table all);
    &:extend(.table-striped all);
    &:extend(.table-hover all);
    th, td {
      &.right {
        text-align: right;
      }
      &.center {
        text-align: center;
      }
    }
    button {
      &:extend(.btn all);
      .btn-default;
      padding: @grid-gutter-width / 8 @grid-gutter-width / 4;
    }
    tbody {
      button[type=submit] {
        .btn-primary;
        i {
          .icon-view;
        }
      }
    }
    thead {
      form {
        .pull-right;
        &:extend(.form-inline all);
        fieldset {
          float: left;
          margin-right: @grid-gutter-width / 2;
        }
        input[type=text] {
          .form-control;
          .input-sm;
        }
        i {
          color: @brand-success;
          &.not {
            color: @brand-danger;
          }
        }
      }
    }
    tbody {
      i.status {
        color: rgba(0,0,0,0.5);
      }
    }
    tfoot {
      nav {
        .pull-right;
      }
      span.loading {
        .pull-right;
        padding-right: 1em;
      }
    }
  }
  section.item {
    h2 {
      padding: 0 @grid-gutter-width / 2;
      margin-bottom: @line-height-computed;
      font-size: (@font-size-base * 1.5);
      line-height: inherit;
      color: @legend-color;
      border: 0;
      border-bottom: 1px solid @legend-border-color;
    }
    dl {
      &:extend(.dl-horizontal all);
    }
  }
}
form.crud {
  legend {
    margin-bottom: @line-height-computed;
    margin-top: @line-height-computed;
    small.saving {
      .pull-right;
    }
  }
}
