@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  .glyphicon;
}

.icon-loading, i.loading {
  .icon;
  vertical-align: text-bottom;
  margin-right: 5px;
  font-size: 20px;
  .glyphicon-refresh;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.icon-edit, i.edit {
  .icon;
  .glyphicon-pencil;
}

.icon-next, i.next {
  .icon;
  .glyphicon-chevron-right;
}

.icon-prev, i.prev {
  .icon;
  .glyphicon-chevron-left;
}

.icon-download, i.download {
  .icon;
  .glyphicon-download-alt;
}

.icon-yes, i.yes {
  .icon;
  .glyphicon-ok-circle;
  color: @brand-success;
}

.icon-no, i.no {
  .icon;
  .glyphicon-ban-circle;
  color: @brand-danger;
}

.icon-transfer, i.transfer{
  .icon;
  .glyphicon-road;
  color: @brand-warning;
}

.icon-nonprofit, i.nonprofit {
  .icon;
  .glyphicon-gift;
  color: @brand-dothiv;
}

.icon-sort, i.sort {
  .icon;
  .glyphicon-sort;
}

.icon-sort-asc, i.sort-asc {
  .icon;
  .glyphicon-sort-by-attributes;
}

.icon-sort-desc, i.sort-desc {
  .icon;
  .glyphicon-sort-by-attributes-alt;
}
