<article>
    <div id="alert-msg" role="alert" data-ng-show="error">
        <button type="button" class="close" data-ng-click="errorMessage=''"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>Failed to verify credentials. Please <a href="{{ path('dothiv_admin_app') }}">request a new token</a>.</p>
    </div>
    <section>
        <div data-ng-show="!error">
            <h3><i class="loading"></i> Verifying credentials</h3>
        </div>
    </section>
</article>
