{% import "DothivAdminBundle:Page:app/form.html.twig" as form %}
<article class="crud" data-ng-init="itemUrl = '/admin/api/config/' + stateParams.identifier;">
    <header>
        <h1><code data-ng-bind="stateParams.identifier"></code></h1>
    </header>
    <section data-ng-show="!loaded">
        <i class="loading"></i> Loading …
    </section>
</article>
<article class="crud" data-ng-show="loaded">
    <section class="item">
        <h2>Info</h2>
        <dl>
            <dt>Name</dt>
            <dd><code data-ng-bind="item.name"></code></dd>
            <dt>Value</dt>
            <dd><code data-ng-bind="item.value"></code></dd>
        </dl>
    </section>
</article>
<article data-ng-show="loaded">
    <form class="crud" role="form" name="configForm" novalidate>
        <fieldset>
            <legend>Update value</legend>
            {{ form.validatedInput("configForm", "item", "value", "text", "Value", "Please enter the new value.", true) }}
        </fieldset>
        <nav>
            <button type="submit" data-ng-click="patch('value'); configForm.$setPristine();" data-ng-disabled="loading || configForm.$invalid || configForm.$pristine" data-ng-class="{loading: loading}">
                <span data-ng-show="!loading">save</span>
                <span data-ng-show="loading"><i></i> saving…</span>
            </button>
        </nav>
    </form>
</article>
    
