{% import "DothivAdminBundle:Page:app/form.html.twig" as form %}
<article class="crud" data-ng-init="itemUrl = '/admin/api/domain/' + stateParams.identifier;">
    <header>
        <h1><a data-ng-href="http://%%stateParams.identifier%%" target="_blank">%%stateParams.identifier%%</a></h1>
    </header>
    <div id="alert-msg" role="alert" data-ng-show="errorMessage">
        <button type="button" class="close" data-ng-click="errorMessage=''">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p data-ng-bind="errorMessage"></p>
    </div>
    <section data-ng-show="!loaded">
        <i class="loading"></i> Loading …
    </section>
</article>
<article class="crud" data-ng-show="loaded">
    <section class="item">
        <h2>Owner</h2>
        <dl>
            <dt>Name</dt>
            <dd data-ng-bind="item.ownerName"></dd>
            <dt>Email</dt>
            <dd><a data-ng-href="mailto:%%item.ownerEmail%%" data-ng-bind="item.ownerEmail"></a>
            <dt data-ng-show="item.loginLink">Login-Link</dt>
            <dd data-ng-show="item.loginLink"><a data-ng-href="%%item.loginLink%%" data-ng-bind="item.loginLink"></a></dd>
        </dl>
    </section>
    <section class="item">
        <h2>Info</h2>
        <dl>
            <dt>Click-Counter</dt>
            <dd>
                <i class="yes" data-ng-show="item.clickCounterConfigured"></i>
                <i class="no" data-ng-show="!item.clickCounterConfigured"></i>
            </dd>
            <dt>Clicks</dt>
            <dd data-ng-bind="item.clickCount"></dd>
            <dt>Token sent</dt>
            <dd>
                <span data-ng-show="item.registrar.notification">
                    <i class="yes" data-ng-show="item.tokenSent"></i>
                    <i class="no" data-ng-show="!item.tokenSent"></i>
                </span>
                <span data-ng-show="!item.registrar.notification">
                    &mdash;
                </span>
            </dd>
            <dt data-ng-show="item.token">Token</dt>
            <dd data-ng-show="item.token"><code data-ng-bind="item.token"></code></dd>
            <dt data-ng-show="item.transfer">Transfer</dt>
            <dd data-ng-show="item.transfer">active</dd>
        </dl>
    </section>
    <section class="item">
        <h2>Registrar</h2>
        <dl>
            <dt>ID</dt>
            <dd data-ng-bind="item.registrar.extId"></dd>
            <dt>Name</dt>
            <dd data-ng-bind="item.registrar.name"></dd>
            <dt>Notification</dt>
            <dd data-ng-bind="item.registrar.notificationType"></dd>
        </dl>
    </section>
</article>
<article data-ng-show="loaded">
    <form class="crud" role="form" name="domainForm" novalidate>
        <fieldset>
            <legend>Action</legend>
            {{ form.toggle("item", "transfer", "Toggle transfer") }}
        </fieldset>
    </form>
</article>
