{% import "DothivAdminBundle:Page:app/list.html.twig" as list %}
<article class="crud" data-ng-init="listUrl = '/admin/api/domain'; fetchFilterPropertyValues('/admin/api/registrar', 'registrars');">
    <h1>
        Domain registrations
        <small>(<span data-ng-bind="total"></span>)</small>
    </h1>

    <table>
        <thead>
        <tr>
            <td colspan="7">
                <form>
                    <fieldset>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-true-value="1" data-ng-false-value="" data-ng-model="filterProperties.nonprofit" data-ng-change="loadAfter();">
                                Non-Profit <i class="nonprofit"></i> </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-true-value="1" data-ng-false-value="" data-ng-model="filterProperties.transfer" data-ng-change="loadAfter();">
                                Transfer <i class="transfer"></i> </label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <input type="text"
                                    data-ng-model="registrarLabel"
                                    data-typeahead="registrar as registrar.name for registrar in filterPropertyValues.registrars | filter:$viewValue | limitTo:3"
                                    data-typeahead-on-select="filterPropertyTypeahead($item, 'registrar');"
                                    placeholder="Registrar (%%filterPropertyValues.registrars.length%%)"
                                    >
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Search …" data-ng-model="filterTerm" data-ng-change="loadAfter();">
                    </fieldset>
                    <fieldset>
                        <button type="reset" data-ng-click="clearFilters()">
                            <i class="trash"></i>
                        </button>
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <th>
                Domain
                {{ list.sort("name") }}
            </th>
            <th><!-- flags --></th>
            <th>Registrar</th>
            <th class="right">Clicks</th>
            <th class="center"><abbr title="Click-Counter configured">Counter</abbr></th>
            <th class="center"><abbr title="Token sent">Token</abbr></th>
            <th class="right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="domain in items">
            <td>
                <a href="http://www.%%domain.domain%%/" data-ng-bind="domain.domainUTF8"></a>
            </td>
            <td class="right">
                <abbr title="Domain transfer active"><i class="transfer" data-ng-show="domain.transfer"></i></abbr>
                <abbr title="Non-profit domain"><i class="nonprofit" data-ng-show="domain.nonprofit"></i></abbr>
            </td>
            <td data-ng-bind="domain.registrar.name"></td>
            <td class="right" data-ng-bind="domain.clickCount"></td>
            <td class="center">
                <i class="yes" data-ng-show="domain.clickCounterConfigured"></i>
                <i class="no" data-ng-show="!domain.clickCounterConfigured"></i>
            </td>
            <td class="center">
                <span data-ng-show="domain.registrar.notification">
                    <i class="yes" data-ng-show="domain.tokenSent"></i>
                    <i class="no" data-ng-show="!domain.tokenSent"></i>
                </span>
                <span data-ng-show="!domain.registrar.notification">
                    &mdash;
                </span>
            </td>
            <td class="right">
                <button type="submit" data-ng-click="edit('=.domain.edit', domain.domain)"><i></i></button>
            </td>
        </tr>
        <tr data-ng-show="items.length == 0">
            <td colspan="7">No domains found.</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <nav>
                    <button data-ng-disabled="!nextUrl" data-ng-click="next()" id="loadMoreButton">Load more</button>
                </nav>
                <span class="loading" data-ng-show="!loaded"><i class="loading"></i> loading …</span>
            </td>
        </tr>
        </tfoot>
    </table>
</article>
