<article class="crud" data-ng-init="listUrl = '/admin/api/domain';">
    <h1>Domain registrations</h1>

    <table>
        <thead>
        <tr>
            <th>Domain</th>
            <th><!-- flags --></th>
            <th>Registrar</th>
            <th class="right">Clicks</th>
            <th class="center"><abbr title="Click-Counter configured">Counter</abbr></th>
            <th class="center"><abbr title="Token sent">Token</abbr></th>
            <th class="right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="domain in items">
            <td>
                <a href="http://www.%%domain.domain%%/" data-ng-bind="domain.domainUTF8"></a>
            </td>
            <td class="right">
                <abbr title="Domain transfer active"><i class="transfer" data-ng-show="domain.transfer"></i></abbr>
                <abbr title="Non-profit domain"><i class="nonprofit" data-ng-show="domain.nonprofit"></i></abbr>
            </td>
            <td data-ng-bind="domain.registrar.name"></td>
            <td class="right" data-ng-bind="domain.clickCount"></td>
            <td class="center">
                <i class="yes" data-ng-show="domain.clickCounterConfigured"></i>
                <i class="no" data-ng-show="!domain.clickCounterConfigured"></i>
            </td>
            <td class="center">
                <span data-ng-show="domain.registrar.notification">
                    <i class="yes" data-ng-show="domain.tokenSent"></i>
                    <i class="no" data-ng-show="!domain.tokenSent"></i>
                </span>
                <span data-ng-show="!domain.registrar.notification">
                    &mdash;
                </span>
            </td>
            <td class="right">
                <button type="submit" data-ng-click="edit('=.domain.edit', domain.domain)"><i></i></button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <nav>
                    <button data-ng-disabled="!nextUrl" data-ng-click="next()" id="loadMoreButton">Load more</button>
                </nav>
                <span class="loading" data-ng-show="!loaded"><i class="loading"></i> loading …</span>
            </td>
        </tr>
        </tfoot>
    </table>
</article>
