<article>
    <div id="alert-msg" role="alert" data-ng-show="errorMessage">
        <button type="button" class="close" data-ng-click="errorMessage=''"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p data-ng-bind="errorMessage"></p>
    </div>
    <div id="success-msg" role="alert" data-ng-bind="successMessage" data-ng-show="successMessage"></div>
    <form role="form" name="loginForm" novalidate>
        <fieldset>
            <legend>Login</legend>
            <div class="fields">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" required id="email" data-ng-model="loginForm.email">
                </div>
                <nav>
                    <button type="submit"
                            data-ng-click="submit()"
                            data-ng-disabled="loading || loginForm.$invalid"
                            data-ng-class="{loading: loading}">
                        <span data-ng-show="!loading">login</span>
                        <span data-ng-show="loading"><i></i> logging in…</span>
                    </button>
                </nav>
            </div>
            <div class="fields-legend">
                Please enter your email address to login.
            </div>
        </fieldset>
    </form>
</article>
