{% import "DothivAdminBundle:Page:app/list.html.twig" as list %}
<article class="crud" data-ng-init="listUrl = '/admin/api/nonprofitregistration';">
    <h1>Non-profit registrations <small>(<span data-ng-bind="total"></span>)</small></h1>

    <table>
        <thead>
        <tr>
            <th>Domain</th>
            <th class="right">Created</th>
            <th class="right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="registration in items">
            <td>%%registration.domainUTF8%%</td>
            <td class="right">%%registration.created%%</td>
            <td class="right">
                <button type="submit" data-ng-click="edit('=.nonprofit.edit', registration.domain)"><i></i></button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <nav>
                    <button data-ng-disabled="!nextUrl" data-ng-click="next()" id="loadMoreButton">Load more</button>
                </nav>
                <span class="loading" data-ng-show="!loaded"><i class="loading"></i> loading …</span>
            </td>
        </tr>
        </tfoot>
    </table>
</article>
