{% import "DothivAdminBundle:Page:app/form.html.twig" as form %}
<article class="crud" data-ng-init="itemUrl = '/admin/api/nonprofitregistration/' + stateParams.identifier;">
    <header>
        <h1>Non-profit registration for %%stateParams.identifier%%</h1>
    </header>
    <div id="alert-msg" role="alert" data-ng-show="errorMessage">
        <button type="button" class="close" data-ng-click="errorMessage=''">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p data-ng-bind="errorMessage"></p>
    </div>
    <section data-ng-show="!loaded">
        <i class="loading"></i> Loading …
    </section>
</article>
<article class="crud" data-ng-show="loaded">
    <section class="item">
        <h2>Organization</h2>
        <dl>
            <dt>Organization</dt>
            <dd data-ng-bind="item.organization"></dd>
            <dt>Proof of organization</dt>
            <dd><a data-ng-href="%%item.proof.url%%"><i class="download"></i> Download</a></dd>
            <dt>What do you do?</dt>
            <dd data-ng-bind="item.about"></dd>
            <dt>Which field does your organization focus on?</dt>
            <dd data-ng-bind="item.field"></dd>
            <dt>Postcode</dt>
            <dd data-ng-bind="item.postcode"></dd>
            <dt>Locality</dt>
            <dd data-ng-bind="item.locality"></dd>
            <dt>Country</dt>
            <dd data-ng-bind="item.country"></dd>
            <dt>Website</dt>
            <dd><a data-ng-href="%%item.website%%" data-ng-bind="item.website"></a></dd>
            <dt data-ng-show="item.orgPhone">Phone</dt>
            <dd data-ng-show="item.orgPhone">
                <a data-ng-href="tel:%%item.orgPhone%%" data-ng-bind="item.orgPhone"></a></dd>
            <dt data-ng-show="item.orgFax">Fax</dt>
            <dd data-ng-show="item.orgFax">
                <a data-ng-href="tel:%%item.orgFax%%" data-ng-bind="item.orgFax"></a></dd>
        </dl>
    </section>
    <section class="item">
        <h2>Contact Person</h2>
        <dl>
            <dt>Email</dt>
            <dd><a data-ng-href="mailto:%%item.personEmail%%" data-ng-bind="item.personEmail"></a>
            </dd>
            <dt>Name</dt>
            <dd>%%item.personFirstname%% %%item.personSurname%%</dd>
            <dt data-ng-show="item.personPosition">Position</dt>
            <dd data-ng-show="item.personPosition" data-ng-bind="item.personPosition"></dd>
            <dt data-ng-show="item.personPhone">Phone</dt>
            <dd data-ng-show="item.personPhone">
                <a data-ng-href="tel:%%item.personPhone%%" data-ng-bind="item.personPhone"></a></dd>
            <dt data-ng-show="item.personFax">Fax</dt>
            <dd data-ng-show="item.personFax">
                <a data-ng-href="tel:%%item.personFax%%" data-ng-bind="item.personFax"></a></dd>
        </dl>
    </section>
    <section class="item">
        <h2>Usage</h2>
        <dl>
            <dt>Forward Internet users through our standard homepage</dt>
            <dd>
                <span data-ng-show="item.forward">Yes</span>
                <span data-ng-show="!item.forward">No</span>
            </dd>
            <dt data-ng-show="item.concept">Concept</dt>
            <dd data-ng-show="item.concept" data-ng-bind="item.concept"></dd>
        </dl>
    </section>
    <section class="item">
        <h2>Info</h2>
        <dl>
            <dt data-ng-show="item.created">Applied</dt>
            <dd data-ng-show="item.created">
                <abbr class="time" title="%%item.created%%" am-time-ago="item.created"></abbr>
            </dd>
            <dt data-ng-show="item.approved"><i class="yes"></i> Approved</dt>
            <dd data-ng-show="item.approved">
                <abbr class="time" title="%%item.approved%%" am-time-ago="item.approved"></abbr>
            </dd>
            <dt data-ng-show="item.registered"><i class="cart"></i> Registered</dt>
            <dd data-ng-show="item.registered">
                <abbr class="time" title="%%item.registered%%" am-time-ago="item.registered"></abbr>
            </dd>
        </dl>
    </section>
</article>
<article data-ng-show="loaded">
    <form class="crud" role="form" name="domainForm" novalidate>
        <fieldset>
            <legend>Action</legend>
            {{ form.toggle("item", "approved", "Toggle approved") }}
            {{ form.toggle("item", "registered", "Toggle registered") }}
        </fieldset>
    </form>
</article>
