<article class="crud">
    <h1>Non-profit registrations</h1>

    <table>
        <thead>
        <tr>
            <th>Domain</th>
            <th class="right">Created</th>
            <th class="right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="registration in registrations">
            <td>%%registration.domainUTF8%%</td>
            <td class="right">%%registration.created%%</td>
            <td class="right">
                <button type="submit" data-ng-click="edit(registration)"><i></i></button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <nav>
                    <button data-ng-disabled="!prevUrl" data-ng-click="prev()"><i class="prev"></i></button>
                    <button data-ng-disabled="!nextUrl" data-ng-click="next()"><i class="next"></i></button>
                </nav>
                <span class="loading" data-ng-show="!loaded"><i class="loading"></i> loading …</span>
            </td>
        </tr>
        </tfoot>
    </table>
</article>
